/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
  padding: 0 0 500px;
}

contact-form {
  display: block;
  margin: 100px 0;
}

navbar {
  display: block;
  margin-bottom: 50px;
}